section{
    background-color: #8080804a;
    padding: 10px;
}
.flightName{
    color: #948f8fb5;
    font-weight: 500;
}
.boardingLocation{
    color: lightgrey;
}
.refundStatus{
    color: #7b80ca;
}
.noCostEmi{
    font-size: 14px;
    color: lightgrey;
}
.noCostEmiAmount{
    font-size: 14px;
}
.flightDetail{
    color: blue;
    font-size: 12px;
}
.priceFilter{
    color: blue;
    
}
.cursor-pointer{
    cursor: pointer;
}