.login{
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    height: 100vh;
}
.loginCard{
    padding: 30px;
    width: 500px;
    box-shadow: 2px 3px 4px 2px #cccccc85;
}